

/* fundo global da aplicação */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212; /* fundo dark total */
  color: #f5f5f5; /* texto padrão claro */
}

/* opcional: suavizar scroll */
html {
  scroll-behavior: smooth;
}

